.vbox {
	-fx-padding: 60;	
} 

#screen {
	-fx-background-color: white;
	-fx-background-fills: white;
	
    -fx-font-family: "Monoid";
	-fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-size: 22;
    
    -fx-alignment: top-left;
    -fx-opacity: 1.0;
}

#root {
	-fx-alignment: center-left;
	-fx-padding: 50;
	-fx-background-color: transparent;
	-fx-opacity: 1.0;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-opacity: 1.0;
}

.text-field {
 	-fx-font-family: "Monoid";
	-fx-font-weight: normal;
	-fx-font-style: normal;
    -fx-font-size: 22;

	-fx-alignment: center-left;
	-fx-pref-width: 600;
	-fx-max-width: 600;
	-fx-padding: 0;
	-fx-background-color: transparent;

/*	-fx-display-caret: false; */
}