.image-view {
    -fx-alignment: center;
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;		
}

.vbox {
	-fx-padding: 60;	
} 

#screen {
	-fx-background-color: white;
	-fx-background-fills: white;
	
    -fx-font-family: "DejaVu Sans Mono";
	-fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-size: 15;
    
    -fx-alignment: top-left;
}

#root {
	-fx-alignment: center-left;
	-fx-padding: 30;
	-fx-background-color: transparent;
	-fx-opacity: 1.0;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar {
   -fx-background-color: transparent;	
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-opacity: 1.0;
	-fx-padding: 10;
}

.text-field {
 	-fx-font-family: "DejaVu Sans Mono";
	-fx-font-weight: normal;
	-fx-font-style: normal;
    -fx-font-size: 15;

	-fx-alignment: center-left;
	-fx-padding: 10;
	-fx-background-color: transparent;
}