/**
 * @author Marco 
 */
 
.image-view {
    -fx-alignment: center;
    -fx-translate-y: 2;
}

#screen {
	-fx-background-color: white;
	-fx-background-fills: white;
	
    -fx-font-family: "DejaVu Sans Mono";
	-fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-size: 15;
    
    -fx-alignment: top-left;
}

#root {
	-fx-alignment: center-left;
	-fx-padding: 30;
	-fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar {
   -fx-background-color: transparent;	
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-padding: 10;

	-fx-border-color: gray;
}

.text-field {
 	-fx-font-family: "DejaVu Sans Mono";
	-fx-font-weight: normal;
	-fx-font-style: normal;
    -fx-font-size: 15;

	-fx-alignment: center-left;
	-fx-padding: 10;
	-fx-background-color: transparent;
}